.profile-popup {
  position: fixed;
  top: 70px;
  right: 30px;
  width: 280px;
  padding: 20px;
  background: rgba(227, 213, 213, 0.749);
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
}

.logout-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.logout-btn:hover{
     background-color: #a33944;
}
